<div class="container">

  <div class="side-bar">
    <ul>
      <li class="menu-items">
        <%= link_to "マイページ", user_path(@user), class: "menu-items" %>
      </li>
      <li class="menu-items">
        <%= link_to "ミッション", "#", class: "menu-items" %>
      </li>
      <li class="menu-items">
        <%= link_to "ランキング", "#", class: "menu-items" %>
      </li>
    </ul>
  </div>

  <div class="index-container">
    <div class="rallies-index" >
      <% @rallies.each do |rally| %>
        <div class="rallies">
          <div class="rally_item">
            タイトル<br>
          </div>
          <div class="rally">
            <%= link_to rally.title, rally_path(rally) %>
          </div>
          <div class="rally_item">
            要約<br>
          </div>
          <div class="rally">
            <%= rally.abstract %>
          </div>
          <div class="rally_item">
            意見<br>
          </div>
          <div class="rally">
            <%= rally.opinion %>
          </div>
          <div class="rally_item">
            投稿者<br>
          </div>
          <div class="rally">
            <%= rally.user.name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>