<div class="container">

  <%= render "layouts/sidebar" %>

  <div class="ranking-container">
    <div class="ranking">
      <div class="total-ranking">
        <h2>Rally投稿王</h2>
        <h3>累計ランキング</h3>
        <% @rally_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, 投稿したRally数: <%= user.user_count %><br>
        <% end %>
      </div>
      <div class="monthly-ranking">
        <h3>月間ランキング</h3>
        <% @monthly_rally_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, 投稿したRally数: <%= user.user_count %><br>
        <% end %>
      </div>
    </div>
    <div class="ranking">
      <div class="total-ranking">
        <h2>コメント王</h2>
        <h3>累計ランキング</h3>
        <% @comment_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, コメント数: <%= user.user_count %><br>
        <% end %>
      </div>
      <div class="monthly-ranking">
        <h3>月間ランキング</h3>
        <% @monthly_comment_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, コメント数: <%= user.user_count %><br>
        <% end %>
      </div>
    </div>
    <div class="ranking">
      <div class="total-ranking">
        <h2>ミッション達成王</h2>
        <h3>累計ランキング</h3>
        <% @mission_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, 達成したミッション数: <%= user.user_count %><br>
        <% end %>
      </div>
      <div class="monthly-ranking">
        <h3>月間ランキング</h3>
        <% @monthly_mission_top_users.each_with_index do |user, index| %>
          　<%= index + 1 %>位: <%= User.find_by(id: user.user_id).name %>, 達成したミッション数: <%= user.user_count %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>