<!DOCTYPE html>
<html>
  <head>
    <title>TechRally</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "Tech-Rally", root_path, class: "logo" %>
      <div class="nav-buttton">
        <% if user_signed_in? %>
          <% if controller_name == 'rallies' && action_name == 'index' %>
            <%= link_to "投稿する", new_rally_path, class: "action-button" %>
          <% elsif controller_name == 'rallies' && action_name == 'show' %>
            <%= link_to "編集する", edit_rally_path, class: "action-button" %>
          <% end %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>Copyright TechRally 2024</footer>

  </body>
</html>
