<!DOCTYPE html>
<html>
  <head>
    <title>TechRally</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "Tech-Rally", root_path, class: "logo" %>
      <div class="client-name">株式会社Tech<p>新規事業部</div>
    </header>

    <%= yield %>

    <footer></footer>

  </body>
</html>
